<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="header">Register</h1>

  <div class="container">
    <form class="regForm">
      <ion-item lines="full">
        <ion-label position="floating">First name</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Last name</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-list>
        <ion-list-header>
          <ion-label>Select your flat:</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Wing</ion-label>
          <ion-select>
            <ion-select-option value="A">A</ion-select-option>
            <ion-select-option value="B">B</ion-select-option>
            <ion-select-option value="C">C</ion-select-option>
            <ion-select-option value="D">D</ion-select-option>
            <ion-select-option value="E">E</ion-select-option>
            <ion-select-option value="F">F</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Flat Number</ion-label>
          <ion-select>
            <ion-select-option value="11">11</ion-select-option>
            <ion-select-option value="12">12</ion-select-option>
            <ion-select-option value="13">13</ion-select-option>
            <ion-select-option value="14">14</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-radio-group value="ResidentType">
          <ion-list-header>
            <ion-label>Resident type:</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Owner</ion-label>
            <ion-radio slot="start" value="biff"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Tenant</ion-label>
            <ion-radio slot="start" value="griff"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-list>
        <ion-radio-group value="">
          <ion-list-header>
            <ion-label>Profile:</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Home Manager</ion-label>
            <ion-radio slot="start" value="biff"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Additional Family Member</ion-label>
            <ion-radio slot="start" value="griff"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-row>
        <ion-col>
          <ion-button fill="outline" expand="block" class="submit" type="submit" color="primary">Register</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>