ion-header::after {
    background-image: none;
}

.header {
    margin-left: 1em;
    font-weight: bold;
    font-size: 2em;
}

.container {
    margin: 2em 1em 0 1em;
}

.parkingForm {
    padding-bottom: 2em;
}

ion-item {
    margin-bottom: 10px;
}

.submit {
    margin-top: 1.5em;
}
