<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Your Account
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <h1 class="header">Your account</h1>

  <div class="profile-avatar-container">
    <ion-avatar>
      <img src="assets\img\profile.png">
    </ion-avatar>
    <h1>Ashish Das</h1>
    <p>A1 - 1301</p>
  </div>

  <ion-list id="payment-list">
    <ion-list-header>
      <ion-label><strong>Amount Due:</strong></ion-label>
    </ion-list-header>

      <ion-item lines="none" detail="false">
        <ion-icon slot="start" [ios]="'cash-outline'" [md]="'cash-sharp'"></ion-icon>
        <ion-label slot="start"><strong>Maintenance:</strong></ion-label>
        <ion-label slot="end">₹8000</ion-label>
      </ion-item>

      <ion-item lines="none" detail="false">
        <ion-icon slot="start" [ios]="'barbell-outline'" [md]="'barbell-sharp'"></ion-icon>
        <ion-label slot="start"><strong>Membership:</strong></ion-label>
        <ion-label slot="end">₹3000</ion-label>
      </ion-item>

  </ion-list>

  <ion-list id="account-list">
    <ion-list-header>
      <ion-label><strong>Settings</strong></ion-label>
    </ion-list-header>

      <ion-item (click)="onChangeProfilePictureClick()" lines="full" detail="false">
        <ion-icon slot="start" [ios]="'person-circle-outline'" [md]="'person-circle-sharp'"></ion-icon>
        <ion-label>Change profile picture</ion-label>
      </ion-item>

      <ion-item routerDirection="root" [routerLink]="['map']" lines="full" detail="false">
        <ion-icon slot="start" [ios]="'mail-outline'" [md]="'mail-sharp'"></ion-icon>
        <ion-label>Update contact details</ion-label>
      </ion-item>

      <ion-item (click)="onLogOut()" button routerDirection="root" lines="none" detail="false">
        <ion-icon color="danger" slot="start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
        <ion-label color="danger">Log out</ion-label>
      </ion-item>

  </ion-list>

</ion-content>