ion-header::after {
    background-image: none;
}

.header {
    margin-left: 1em;
    // margin-top: 1em;
    font-weight: bold;
    font-size: 2em;
}

.container {
    margin: 2em 1em 0 1em;
    padding: 0 1em 1em 1em;
}