<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>about-app</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="header">About App</h1>

  <div class="container">
    <p><strong>App Version:</strong> 1.0</p>
    <br>
    <p><strong>Credits:</strong></p>
    <p>Ashish Das, Sham Dasappan, Shashank Bhoite, Prasad Patil</p>
    <br>
    <p><strong>End User Agreement:</strong></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Integer quis auctor elit sed vulputate mi sit amet. In hendrerit gravida rutrum quisque. Eu nisl
      nunc mi ipsum faucibus vitae aliquet nec. Parturient montes nascetur ridiculus mus mauris. Dictum at tempor
      commodo ullamcorper a lacus vestibulum. Urna neque viverra justo nec. Lacus vel facilisis volutpat est velit.
      Netus et malesuada fames ac. Consequat semper viverra nam libero justo laoreet sit amet. Dui id ornare arcu odio
      ut. Tortor at auctor urna nunc id cursus metus. Nulla pellentesque dignissim enim sit amet venenatis urna cursus
      eget. At tempor commodo ullamcorper a lacus. Faucibus scelerisque eleifend donec pretium vulputate sapien. Odio
      morbi quis commodo odio aenean. Fermentum iaculis eu non diam phasellus vestibulum lorem. Vestibulum lectus mauris
      ultrices eros in cursus. Convallis tellus id interdum velit.</p>

    <p>Ullamcorper sit amet risus nullam eget felis. Vestibulum morbi blandit cursus risus. Quisque egestas diam in arcu
      cursus. Non tellus orci ac auctor. Cursus vitae congue mauris rhoncus aenean. Pretium nibh ipsum consequat nisl
      vel. A scelerisque purus semper eget duis. Ligula ullamcorper malesuada proin libero nunc consequat interdum
      varius sit. Lectus mauris ultrices eros in cursus turpis massa tincidunt. Gravida dictum fusce ut placerat orci
      nulla pellentesque.</p>

    <p>Lobortis elementum nibh tellus molestie nunc non. Eget nulla facilisi etiam dignissim diam quis enim lobortis.
      Diam sollicitudin tempor id eu nisl nunc. Porta nibh venenatis cras sed. Ultrices tincidunt arcu non sodales neque
      sodales ut etiam. Convallis a cras semper auctor neque vitae tempus quam pellentesque. Massa ultricies mi quis
      hendrerit dolor. Pharetra massa massa ultricies mi quis hendrerit dolor magna. Feugiat sed lectus vestibulum
      mattis ullamcorper velit sed ullamcorper morbi. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis
      nisl. Diam quis enim lobortis scelerisque fermentum dui. Urna nec tincidunt praesent semper feugiat. Amet massa
      vitae tortor condimentum. Justo eget magna fermentum iaculis eu. Posuere sollicitudin aliquam ultrices sagittis
      orci a. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Nisl purus in mollis nunc sed id
      semper risus. Urna condimentum mattis pellentesque id nibh tortor id aliquet. Ac turpis egestas maecenas pharetra
      convallis.</p>

    <p>Pretium quam vulputate dignissim suspendisse in. Aliquam id diam maecenas ultricies mi. Imperdiet proin fermentum
      leo vel. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus aenean. Ac turpis egestas maecenas pharetra
      convallis posuere morbi leo urna. Convallis posuere morbi leo urna molestie at. Faucibus ornare suspendisse sed
      nisi lacus sed viverra tellus in. Viverra vitae congue eu consequat ac felis donec. Eget nulla facilisi etiam
      dignissim diam quis enim lobortis scelerisque. Urna porttitor rhoncus dolor purus non enim praesent elementum.
      Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin libero. Dolor sit amet consectetur adipiscing
      elit ut aliquam purus sit. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Sodales neque
      sodales ut etiam sit amet nisl.</p>

    <p>Feugiat in fermentum posuere urna nec tincidunt praesent semper. Mauris a diam maecenas sed enim ut sem. Risus at
      ultrices mi tempus imperdiet nulla malesuada. Ipsum nunc aliquet bibendum enim facilisis gravida neque convallis.
      Ultrices neque ornare aenean euismod elementum nisi quis eleifend quam. Enim nulla aliquet porttitor lacus luctus.
      Eget felis eget nunc lobortis mattis. Lobortis mattis aliquam faucibus purus. Pulvinar proin gravida hendrerit
      lectus. Consectetur lorem donec massa sapien faucibus. Mattis molestie a iaculis at. Sed odio morbi quis commodo.
      Morbi quis commodo odio aenean sed. Lectus vestibulum mattis ullamcorper velit. Sollicitudin tempor id eu nisl
      nunc mi. Enim sit amet venenatis urna cursus eget nunc scelerisque. Orci sagittis eu volutpat odio facilisis
      mauris. Eget arcu dictum varius duis at consectetur. Tincidunt ornare massa eget egestas purus.</p>
  </div>

</ion-content>